* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
};

body{
    width: 320px;
    height: 480px;
    display:flex;
    flex-direction: column;
    background: #333;

    h1{
        font-size: medium;
        text-align: center;
        color: #fff
    }
    .container{
      display: flex;
      align-items: flex-end;
      flex-direction: column;

      .espacio{
        display: flex;
        flex-direction: row;
        color: #fff;
      }
        div{
            display:grid;
            place-items:center;
            position:relative;
            margin: 10px 50px 0 10px;
          label{
            width:30px;
            height:30px;
            display:grid;
            place-items:center;
            border-radius:50%;
            background:#222;
            box-shadow:0 2px 10px #000;
          }
          
          
          input{
            position:absolute;
            width:0px;
            height:0px;
            display:none;
          }
          
          #icon{
            font-size:10px;
            //margin-top:10px;
            position:absolute;
            pointer-events:none;
            transition:.5s;
          }
          
          input[type="checkbox"]:checked + i{
            color: #0ff;
            text-shadow: 0 0 15px #0ff;
          }
          
          input[type="checkbox"]:checked + i:after{
            opacity:1;
          }
          
          
          i:after{
            content:"";
            position:absolute;
            border-radius:50%;
            width:30px;
            height:30px;
            transform: translate(-18px,-10px);
            box-shadow: 0 0 10px #0ff,0 0 20px #0ff,0 0 20px #0ff;
            opacity: 0;
            transition:.5s;
            z-index:-1;
          }
        }
    }
}
